body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    font-size: 2.5rem;
    margin-top: 20px;
}

.video-container {
    margin-top: 20px;
    border: 2px solid #343a40;
    padding: 10px;
    background-color: #ffffff;
}
